:root {
    --main-color: #a4161a;
    --light-color: #FFFDF2;
    --button: #780000;
    --btn-hover: #540b0e;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
}

body {
    font-family: var(--font-family) !important;
}