<section class="home">
  <div class="wpb_wrapper">
    <div class="vc_empty_space" style="height: 32px">
      <span class="vc_empty_space_inner"></span>
    </div>
    <div class="wpb_text_column wpb_content_element vc_custom_1585854668664">
      <div class="wpb_wrapper">
        <p class="text-white subtitle text-center" style="text-align: center">
          All the fun starts here
        </p>
      </div>
    </div>

    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
      <div class="wpb_wrapper">
        <h1 class="text-white fw-bold text-center display-1">
          Discover<br />
          <span class="text-warning" id="typedElement"></span>
          around you.
        </h1>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#events" class="btn btn-warning">Show Trending Events</a>
    </div>
  </div>
</section>
<div class="container my-3">
  <section id="events">
    <h2 class="mb-4">Trending Events</h2>

    <div class="row g-4">
            <!-- Card 5 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 position-relative overflow-hidden" (click)="navigateToEventDetails()" style="cursor: pointer;">
          <img
            src="mask.jpg"
            class="card-img"
            alt="Event Image"
            style="object-fit: cover; height: 100%; width: 100%"
          />
          <!-- Overlay -->
          <div
            class="card-overlay"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(42, 40, 40, 0.6);
            "
          ></div>
          <!-- Text + Button -->
          <div
            class="card-body d-flex flex-column justify-content-end position-absolute bottom-0 w-100 text-white"
          >
            <h5 class="card-title">Masquerade Ball</h5>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 position-relative overflow-hidden" (click)="navigateToEventDetails()" style="cursor: pointer;">
          <img
            src="play.jpg"
            class="card-img"
            alt="Event Image"
            style="object-fit: cover; height: 100%; width: 100%"
          />
          <div
            class="card-overlay"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(42, 40, 40, 0.6);
            "
          ></div>
          <div
            class="card-body d-flex flex-column justify-content-end position-absolute bottom-0 w-100 text-white"
          >
            <h5 class="card-title">Pride & Prejudice Play</h5>
          </div>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 position-relative overflow-hidden" (click)="navigateToEventDetails()" style="cursor: pointer;">
          <img
            src="opera.jpg"
            class="card-img"
            alt="Event Image"
            style="object-fit: cover; height: 100%; width: 100%"
          />
          <div
            class="card-overlay"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(42, 40, 40, 0.6);
            "
          ></div>
          <div
            class="card-body d-flex flex-column justify-content-end position-absolute bottom-0 w-100 text-white"
          >
            <h5 class="card-title">Opera Show</h5>
          </div>
        </div>
      </div>

      <!-- Card 8 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 position-relative overflow-hidden" (click)="navigateToEventDetails()" style="cursor: pointer;">
          <img
            src="mm.jpg"
            class="card-img"
            alt="Event Image"
            style="object-fit: cover; height: 100%; width: 100%"
          />
          <div
            class="card-overlay"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(42, 40, 40, 0.6);
            "
          ></div>
          <div
            class="card-body d-flex flex-column justify-content-end position-absolute bottom-0 w-100 text-white"
          >
            <h5 class="card-title">Murder Mystery Party</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<br />